## Resumo aula 2 de Machine Learning ##

In [366]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, Ridge, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

1a - Construa um modelo de Regressão Linear para prever o preço das casas do USA Housing (enviado no discord)

1b - Pesquise sobre as métricas para algoritmos de regressão. Avalie a métrica R² do modelo, e também discuta se o modelo de preços é um modelo que faria sentido em produção

2a - Construa um modelo de Regressão Logistica para classificar os penguins por espécie e depois por ilha

2b - Pesquise sobre as métricas de comparação de modelos de classificação. Compare ambos em relação as suas métricas e discuta qual deles está performando melhor (podem abstrair que estão fazendo classificações diferentes!)

In [367]:
house_ds = pd.read_csv('usa_housing.csv')

In [368]:
house_ds.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [369]:
house_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [370]:
numeric = house_ds.select_dtypes(include = 'number')
x = numeric.drop(columns='Price')
y = numeric['Price']

In [371]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state = 42 )

In [372]:
estimator = LinearRegression()

estimator.fit(x_train, y_train)

LinearRegression()

In [373]:
y_predict = estimator.predict(x_test)
r2_score(y_test, y_pred = y_predict)

0.9146818498754012

2a - Construa um modelo de Regressão Logistica para classificar os penguins por espécie e depois por ilha

2b - Pesquise sobre as métricas de comparação de modelos de classificação. Compare ambos em relação as suas métricas e discuta qual deles está performando melhor (podem abstrair que estão fazendo classificações diferentes!)

In [374]:
penguin_ds = sns.load_dataset('penguins')

In [375]:
penguin_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [376]:
penguin_ds.dropna(inplace=True)

In [377]:
penguin_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

In [378]:
penguin_ds.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [379]:
y_island = penguin_ds['island']
y_species = penguin_ds['species']
X = penguin_ds.select_dtypes(include = 'number')
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [380]:
x_train, x_test, y_train, y_test = train_test_split(X, y_island, test_size = 0.3, random_state = 42)
estimator = LogisticRegression()
elastic_net = ElasticNet(alpha = 0.5, l1_ratio = 0.5)
estimator.fit(x_train, y_train)
island_predict = estimator.predict(x_test)
cm = confusion_matrix(y_test, island_predict)
disp = ConfusionMatrixDisplay(confusion_matrix = cm, display_labels = island_predict)
disp.ax_.set_xticklabels(disp.display_labels)
disp.plot()

AttributeError: 'ConfusionMatrixDisplay' object has no attribute 'ax_'